<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/3/slate/bootstrap.min.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/main.css" />

    <title>WEB322 - Assignment 3</title>
  </head>
  <body>
    
       
      <section id="about">
      <h5>Get To Know</h5>
      <h2>About Me</h2>

      <div class="container about__container">

        <div class="about__content">

          <div class="about__cards">

            <article class="about__card">
              <FaAward class="about__icon" />
              <h5>Education</h5>
              <small style="color: var(--color-primary);">Highschool</small><br>
              <small>Holy Child Seconadary School (Completed)</small><br>
              <small style="color: var(--color-primary);">College</small><br>
              <small>Seneca College 2022-2023 (ongoing)</small>
            </article>

            <article class="about__card">
              <FiUsers class="about__icon" />
              <h5>Language</h5>
              <small>English (Fluently)</small>
            </article>

            <article class="about__card">
              <VscFolderLibrary class="about__icon" />
              <h5>Projects</h5>
              <small>7+ Completed</small>
            </article>

          </div>

          <p>
            Hello everyone I'm Festus Osayi, originally from Nigeria, and I'm currently attending Seneca College to pursue a career in computer programming. Additionally, I am open to both full-time and part-time employment and am seeking for an internship. Additionally, this project serves as the culmination of the Seneca College course I did. For running online applications, such as Node.js, MongoDb, Bootstrap, Sequelize, Postgres, etc., this demands a variety of frameworks, or rather a cross-platform JavaScript runtime environment and library.
          </p>
        </div>

      </div>
    </section>

    <!-- experiences -->

     <section id="experience">
      <h5>The Skills I have</h5>
      <h2>My Experience</h2>
      <div class="container experience__container">
        <div class="experience__frontend">
          <h3>Frontend Development</h3>
          <div class="experience__content">
            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>HTML</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>CSS</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill className="experience__details-icon" />
              <div>
                <h4>JavaScript</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>Bootstrap</h4>
                <small clas="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>React</h4>
                <small class="text-light">Intermediate</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill className="experience__details-icon" />
              <div>
                <h4>Tailwind</h4>
                <small class="text-light">Intermediate</small>
              </div>
            </article>
          </div>
        </div>

        <!-- end of Frontend -->

        <div class="experience__backend">
          <h3>Backend Development</h3>
          <div class="experience__content">
            <article class="experience__details">
              <BsFillPatchCheckFill className="experience__details-icon" />
              <div>
                <h4>Node Js</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>MongoDb</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>Sequelize</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article className="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>Postgres</h4>
                <small class="text-light">Experienced</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill class="experience__details-icon" />
              <div>
                <h4>Python</h4>
                <small class="text-light">Intermediate</small>
              </div>
            </article>

            <article class="experience__details">
              <BsFillPatchCheckFill className="experience__details-icon" />
              <div>
                <h4>PHP</h4>
                <small class="text-light">Intermediate</small>
              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- end of Backend -->
    </section>
    
    <footer class="custom-footer">
      <h4>Festus Osayi</h4>
      <p>
        I created this website as a part of my 5th assignment for WEB322 Course
        at Seneca College, Toronto<br />
        <span>Copyright&copy; 2023</span>
      </p>
    </footer>
    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>