<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->

    <title>WEB322 - Assignment 3</title>
  </head>
  <body>

    <section>
      <h2>About Me</h2>
      <p>
        Hello everyone! I'm Festus Osayi. I am originally from Nigeria, and I'm
        currently attending Seneca College to pursue a career in computer
        programming. Additionally, I am open to both full-time and part-time
        employment and am seeking for an internship. Additionally, this project
        serves as the culmination of the Seneca College course I did. For
        running online applications, such as Node.js, MongoDb, Bootstrap,
        Sequelize, Postgres, etc., this demands a variety of frameworks, or
        rather a cross-platform JavaScript runtime environment and library.
      </p>
      <h2>My Dream</h2>
      <ul>
        <li>In terms of my ambitions and goals in life, my ultimate goal is to
          have a beneficial effect through technology. I want to work on
          projects that address real-world issues and make people's lives
          better. I want to contribute to significant and effective activities,
          whether it's designing software for education, healthcare,
          sustainability, or any other sector.
        </li>
        <li>Aside from my technical profession, I want to be a mentor and
          champion for diversity and inclusion in the technology business. I am
          interested in encouraging underrepresented groups to seek careers in
          programming and giving assistance and opportunity to budding
          programmers.</li>
      </ul>
    </section>

    <!-- experiences -->

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>