<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
</head>
<body>
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h2>Login</h2>
            <hr>

    {{#if errorMessage}}
    <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}
    </div>
    {{/if}}
    <form action="/login" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="text" name="userName" placeholder="User Name" required value={{userName}}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control"  type="password" name="password" placeholder="password" required>
                </div>
            </div>
        </div>
            <input class="btn btn-success pull-right" type="submit" value="Login">
        </form>

          </div>
        </div>
      </div>
   


        <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
</body>
</html>